
/* 整个页面初始时动画 */
#mybody{
    animation: myfirst 2s;
}
@keyframes myfirst{
    from {transform:rotate(15deg) scale(0.75); opacity:0};
    to {transform:rotate(0deg) scale(1); opacity:1};
}
/*说明框弹球效果*/
/*@keyframes bounce {  
	0% {          
		 transform:translateX(450px); 
		        
	 }
	5% {       
	 	transform:translateX(450px);     
	}
	30% {             
		transform:translateX(0);  
     			
	}
	40% {  
	          transform:translateX(100px);  
	 } 

	 50% {  
		transform:translateX(0);  
	
	}  
}*/